<header>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="/static/tabelas/motoristas.js"></script>
</header>

<div class="container">
    <div class="row center">
        <div class="col s12">
            <h1 class="flow-text">
                Gerenciamento Tabela Motorista
            </h1>
        </div>
    </div>
    <div class="row"></div>



    <div id="modal1" class="modal">
        <div class="modal-content">
            <form action="/tabelas/motoristas" method="POST">

                <div class="form-group">
                    <label>CPF do Motorista</label>
                    <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Ex.: 12.456.789-12">
                </div>

                <div class="modal-footer">
                    <button href="#!" type="submit" class="modal-close waves-effect waves-green btn-flat">Adicionar</button>
                </div>
            </form>

        </div>

        <div class="row"></div>
    </div>
    {% if feedback %}
    <div class="row center">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <p style="background-color: white; color: black">{{feedback}}</p>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row"></div>
        <div class="row"></div>
        <div class="row center">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <a class="btn modal-trigger" style="background-color: white; color: black" href="#modal1">Adicionar</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row center">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <a class="btn modal-trigger" style="background-color: white; color: black" href="#modal2">Listar/Remover/Editar</a>
                    </div>
                </div>
            </div>
        </div> -->
        <div id="modal2" class="card">
            <div class="card-content">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>CPF</th>
                            <th>Celular</th>
                            <th>Data de Nascimento</th>
                            <th>Remover</th>

                        </tr>
                    </thead>

                    <tbody>
                        {%for motorista in motoristas%}
                        <tr>
                            <td>{{motorista['id']}}</td>
                            <td>{{motorista['informacoes_pessoais']['nome']}}</td>
                            <td>{{motorista['informacoes_pessoais']['email']}}</td>
                            <td>{{motorista['informacoes_pessoais']['cpf']}}</td>
                            <td>{{motorista['informacoes_pessoais']['celular']}}</td>
                            <td>{{motorista['informacoes_pessoais']['data_nascimento']}}</td>
                            <form action="/remove/motorista" method="POST">
                                <td>
                                    <input type="text" style="display: none;" class="form-control" id="id" name="id" value={{motorista[ 'id']}}>
                                    <button type="submit" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons">delete</i></button>
                                </td>
                            </form>

                        </tr>
                        {%endfor%}
                    </tbody>
                </table>

            </div>

            <div class="row"></div>
        </div>
    </div>