<header>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <script src="/static/tabelas/clientes.js"></script>
</header>
<script>
</script>
<style>
    .marker {
        background-image: url('/static/images/mapbox-icon.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }
</style>
<style>
    #map {
        height: 300px;
        width: 100%;
    }
    
    #map2 {
        height: 300px;
        width: 100%;
    }
</style>
<div class="container">
    <div class="row center">
        <div class="col s12">
            <h1 class="flow-text">
                Gerenciamento Tabela Viagens
            </h1>
        </div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    {% if edit and viagem %}
    <div style=" width: 50%;
    margin: 0 auto;">
        <div class="card" style="position: absolute; z-index: 1; width: 35%;">
            <div class="card-content">
                <form action="/editar/viagem/{{viagem['id']}}" method="POST">

                    <div class="form-group">
                        <label>CPF Motorista</label>
                        <input type="text" class="form-control" id="cpf_motorista" name="cpf_motorista" value={{viagem[ 'motorista'][ 'cpf']}}>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label>CPF Cliente</label>
                            <input type="text" class="form-control" id="cpf_cliente" name="cpf_cliente" value={{viagem[ 'cliente'][ 'cpf']}}>
                        </div>

                        <div class="form-group">
                            <label>Local de Origem</label>

                            <input type="text" class="form-control" id="posicao_origem_latitude" name="posicao_origem_latitude" placeholder="Latitude" value={{viagem[ 'posicao_origem'][ 'latitude']}}>
                            <input type="text" class="form-control" id="posicao_origem_longitude" name="posicao_origem_longitude" placeholder="Longitude" value={{viagem[ 'posicao_origem'][ 'longitude']}}>

                        </div>
                        <!-- {{viagem}} -->
                        <div class="form-group">
                            <label>Destino</label>
                            <input type="text" class="form-control" id="posicao_destino_latitude" name="posicao_destino_latitude" placeholder="Latitude" value={{viagem[ 'posicao_destino'][ 'latitude']}}>
                            <input type="text" class="form-control" id="posicao_destino_longitude" name="posicao_destino_longitude" placeholder="Longitude" value={{viagem[ 'posicao_destino'][ 'longitude']}}>
                        </div>


                        <!-- Dropdown Structure -->

                        {%for estado in estados%}
                        <label>
                        <p>
                        <input type="checkbox" class="form-control" name="estado" id="estado" value={{estado.id}}>
                    
                            <span>{{estado.descricao}}</span>
                        </p>
                    </label> {%endfor%}
                    </div>
                    <div class="modal-footer">
                        <button href="#!" type="submit" name="submit" value="editar" class="modal-close waves-effect waves-green btn-flat right">Editar</button>
                        <button href="#!" type="submit" name="submit" value="fechar" class="modal-close waves-effect waves-green btn-flat right">Fechar</button>

                    </div>
                </form>

            </div>

            <div class="row"></div>
        </div>
    </div>
    {% endif %}
    <div id="modal1" class="modal">
        <div class="modal-content">
            <form action="/tabelas/viagens" method="POST">
                <div class="form-group">
                    <label>CPF Cliente</label>
                    <input type="text" class="form-control" id="cpf_cliente" name="cpf_cliente">
                </div>
                <div class="form-group">
                    <label>CPF Motorista</label>
                    <input type="text" class="form-control" id="cpf_motorista" name="cpf_motorista">
                </div>
                <div class="form-group col s12">
                    <label>Local de Origem</label>
                    <input type="text" class="form-control" id="posicao_origem_latitude" name="posicao_origem_latitude" placeholder="Latitude">
                    <input type="text" class="form-control" id="posicao_origem_longitude" name="posicao_origem_longitude" placeholder="Longitude">
                    <div class="col s12" id="map"></div>

                </div>
                <div class="form-group col s12">
                    <label>Destino</label>
                    <input type="text" class="form-control" id="posicao_destino_latitude" name="posicao_destino_latitude" placeholder="Latitude">
                    <input type="text" class="form-control" id="posicao_destino_longitude" name="posicao_destino_longitude" placeholder="Longitude">
                    <div class="col" id="map2"></div>

                </div>


                <!-- Dropdown Structure -->

                {%for estado in estados%}
                <label>
                <p>
                <input type="checkbox" class="form-control" name="estado" id="estado" value={{estado.id}}>
            
                    <span>{{estado.descricao}}</span>
                </p>
            </label> {%endfor%}




                <div class="modal-footer">
                    <button href="#!" type="submit" class="modal-close waves-effect waves-green btn-flat">Adicionar</button>
                </div>
            </form>

        </div>

        <div class="row"></div>
    </div>
    {% if feedback %}
    <div class="row center">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <p style="background-color: white; color: black">{{feedback}}</p>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row"></div>
        <div class="row"></div>
        <div class="row center">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <a class="btn modal-trigger" style="background-color: white; color: black" href="#modal1">Adicionar</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row center">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <a class="btn modal-trigger" style="background-color: white; color: black" href="#modal2">Listar/Remover/Editar</a>
                    </div>
                </div>
            </div>
        </div> -->
        <div id="modal2" class="card">
            <div class="card-content">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Valor</th>
                            <th>Estado</th>
                            <th>Motorista</th>
                            <th>Cliente</th>
                            <th>Editar</th>
                            <th>Remover</th>


                        </tr>
                    </thead>

                    <tbody>
                        {%for viagem in viagens%}
                        <tr>
                            <td>{{viagem['id']}}</td>
                            <td>{{viagem['valor']}}</td>
                            <td>{{viagem['estado']['descricao']}}</td>
                            <td>{{viagem['motorista']['nome']}}</td>
                            <td>{{viagem['cliente']['nome']}}</td>

                            <form action="/editar/viagem/{{viagem['id']}}" method="GET">
                                <td>
                                    <button type="submit" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons">edit</i></button>
                                </td>
                            </form>
                            <form action="/remove/viagem" method="POST">
                                <td>
                                    <input type="text" style="display: none;" class="form-control" id="id" name="id" value={{viagem[ 'id']}}>
                                    <button type="submit" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons">delete</i></button>
                                </td>
                            </form>

                        </tr>
                        {%endfor%}
                    </tbody>
                </table>

            </div>

            <div class="row"></div>
        </div>
    </div>

    <script>
    </script>